<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!-- *************************************************************** -->
<!-- This file is required                                           -->
<!-- *************************************************************** -->

<suite name="TetrisSuite" time-out="10000" verbose="1">
    <test name="TetrisTests">
        <groups>
            <define name="Block">
                <include name="BlockFeed" />
                <include name="BlockShape" />
            </define>
            <define name="Player">
                <include name="RandomPlayer"/>
            </define>
            <define name="Game">
                <include name="Timer"/>
                <include name="Grid"/>
                <include name="Playfield"/>
                <include name="Referee"/>
            </define>
            <run>
                <include name="Block"/>
                <include name="Score"/>
                <include name="Waiter"/>
                <include name="Player"/>
                <include name="NavigationKeys"/>
                <include name="Game"/>
                <include name="Timer"/>
                <include name="Color"/>
            </run>
        </groups>
        <classes>
            <class name="com.epam.prejap.tetris.block.BlockFeedTest"/>
            <class name="com.epam.prejap.tetris.block.BlockTest"/>
            <class name="com.epam.prejap.tetris.block.BlockTestFactory"/>
            <class name="com.epam.prejap.tetris.block.BlockFeedTest"/>
            <class name="com.epam.prejap.tetris.block.BlockTest"/>
            <class name="com.epam.prejap.tetris.block.BlockTestFactory"/>
            <class name="com.epam.prejap.tetris.block.BlockFeedTest"/>
            <class name="com.epam.prejap.tetris.block.BlockFeedTestFactory"/>
            <class name="com.epam.prejap.tetris.game.PlayfieldTest"/>
            <class name="com.epam.prejap.tetris.player.RandomPlayerTest"/>
            <class name="com.epam.prejap.tetris.game.RefereeTest"/>
            <class name="com.epam.prejap.tetris.game.WaiterTest"/>
            <class name="com.epam.prejap.tetris.game.MoveTest"/>
            <class name="com.epam.prejap.tetris.CommandLineAnalystTest"/>
            <class name="com.epam.prejap.tetris.game.PrinterTest"/>
            <class name="com.epam.prejap.tetris.game.GridTest"/>
            <class name="com.epam.prejap.tetris.game.PlayfieldTest"/>
            <class name="com.epam.prejap.tetris.game.TimerTest"/>
            <class name="com.epam.prejap.tetris.game.RefereeTest"/>
            <class name="com.epam.prejap.tetris.block.Color"/>
        </classes>
    </test>
</suite>
